/* Estilizando a navbar */
.navbar {
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 8px; 
    /* Adiciona bordas arredondadas */
    padding: 10px; 
    /* Adiciona um pouco de padding para melhor aparência */
  }
  
  body {
    margin: 0;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 10px; 
    /* Arredonda os links dentro da navbar */
  }
  
  .navbar li a:hover {
    background-color: #111;
  }
  
  /* Estilizando a barra de pesquisa */
  .navbar input[type="text"] {
    padding: 6px;
    margin-right: 1000px;
    font-size: 17px;
    border: none;
    border-radius: 10px; 
    /* Arredonda a barra de pesquisa */
  }
  
  .navbar button {
    padding: 6px 10px;
    
    border: none;
    cursor: pointer;
    border-radius: 10px; 
    /* Arredonda o botão */
  }
  
  .navbar button:hover {
    background-color: #555;
    
  }
  
  .jonas {
    margin-left: -950px;
  }
  /* Estilizando o papel de parede */
  
  body {
    background-image: url("dbd.jpg");
    background-size: cover; /* O GIF irá cobrir toda a tela */
    background-repeat: no-repeat; /* O GIF não se repetirá */
    background-attachment: fixed; /* O GIF permanecerá fixo ao rolar a página */
    background-position: center; /* Centraliza o GIF */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white; /* Ajusta a cor do texto para contraste com o fundo */
  }

  .pedro {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 500px;
  }